</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Shop</title>
</head>

<body>
    <section class="banner">
        <div class="py-1 bg-black">
            <div class="container">
                <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                    <div class="col-lg-12 d-block">
                        <div class="row d-flex">
                            <div class="col-md pr-4 d-flex topper align-items-center">
                                <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                        class="fas fa-phone"></span></div>
                                <span class="text">+0906821098</span>
                            </div>
                            <div class="col-md pr-4 d-flex topper align-items-center">
                                <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                        class="fas fa-at"></span>
                                </div>
                                <span class="text">phamphuocdangtoan@email.com</span>
                            </div>
                            <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right"><span
                                    class="fas fa-truck"></span>
                                <div>
                                    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Brands</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="shop.html">Vans</a>
                                <a class="dropdown-item" href="product-single.html">Adidas</a>
                                <a class="dropdown-item" href="cart.html">Palladium</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Login</a></li>
                        <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span
                                    class="fas fa-shopping-cart"></span>[0]</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="vans">
        <div class="container">
            <div class="path">
                <p style="text-align: left;"><a href="./home.html">Home</a> <a href="#"> > Vans</a></p>
            </div>
            <div class="row-vans"></div>
            <div class="row">
                <div class="col-sm-4"></div>
                <form action="POST" class="col-sm-8" style="display: flex;">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                                <select name="option">
                                        <option value="default">Sắp Xếp:Mặc Định</option>
                                        <option value="nameAZ">Sắp Xếp:Tên(A-Z)</option>
                                        <option value="nameZA">Sắp Xếp:Tên(Z-A)</option>
                                        <option value="priceAZ">Sắp Xếp:Giá(Thấp-Cao)</option>
                                        <option value="priceZA">Sắp Xếp:Giá(Cao-Thấp)</option>
                                      </select> 
                        </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="price">$120</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV6ZGH-1-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans SK8-Hi Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV6ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$150</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A38GFTIP-1-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans UA 38 DX Anaheim Factory</p>
                        </a>
                        <p># VN0A38GFTIP</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$150</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV6V9A-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans SK8-Hi Label Mix</p>
                        </a>
                        <p># VN0A4BV6V9A</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$150</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV8V3W-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans BMX Sk8-Hi Reissue</p>
                        </a>
                        <p>#VN0A4BV8V3W
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$200</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>
                    </div>
                    <a href="#"><img src="img/VN0A38GEVPE-DRAKE-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans SK-8 Hi Deck Club
                            </p>
                        </a>
                        <p>#VN0A38GEVPE
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$150</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>
                    </div>
                    <a href="#"><img src="img/VN0A38G1VFV-DRAKE-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Oldskool Mash Up Stickers
                            </p>
                        </a>
                        <p>#VN0A38G1VFV

                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>
                    </div>
                    <a href="#"><img src="img/VN000UDDIAW-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Vault Authentic LX
                            </p>
                        </a>
                        <p>#VN000UDDIAW

                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="price">$100</div>
                    <div class="addcart">
                        <a id="addcart"><i class="fas fa-cart-plus fa-2x"></i></a>

                    </div>
                    <a href="#"><img src="img/VN0A4BV5ZGH-2-500x500.jpg" alt=""></a>
                    <div class="body">
                        <a href="#">
                            <p>Vans Old Skool Pride Rainbow</p>
                        </a>
                        <p># VN0A4BV5ZGH</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="brand">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="img/logovans.jpg" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="img/logoconverse.jpg" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="img/lolopalladium.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Daxuo Store</h5>
                    <p>When you need!</p>
                    <p>Contact with us</p>
                </div>
                <div class="col-sm-3">
                    <h5>Menu</h5>
                    <p>Home</p>
                    <p>Brands</p>
                    <p>About</p>
                    <p>Contact</p>
                </div>
                <div class="col-sm-3">
                    <h5>Supporter</h5>
                    <p>Online support</p>
                    <p>Contract</p>
                    <p>Recruitment</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="col-sm-3">
                    <h5>Have A Questions?</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Đại Học Sư Phạm Kĩ Thuật TP.HCM</p>
                    <p><i class="fas fa-sms"></i> 0906821098</p>
                    <p><i class="far fa-envelope"></i>phamphuocdangtoan@gmail.com</p>
                </div>

            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn  .com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>