</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>View</title>
</head>

<body>
    <section class="banner">
        <div class="py-1 bg-black">
            <div class="container">
                <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                    <div class="col-lg-12 d-block">
                        <div class="row d-flex">
                            <div class="col-md pr-4 d-flex topper align-items-center">
                                <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                        class="fas fa-phone"></span></div>
                                <span class="text">+0906821098</span>
                            </div>
                            <div class="col-md pr-4 d-flex topper align-items-center">
                                <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                        class="fas fa-at"></span>
                                </div>
                                <span class="text">phamphuocdangtoan@email.com</span>
                            </div>
                            <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right"><span
                                    class="fas fa-truck"></span>
                                <div>
                                    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Brands</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="shop.html">Vans</a>
                                <a class="dropdown-item" href="product-single.html">Adidas</a>
                                <a class="dropdown-item" href="cart.html">Palladium</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Login</a></li>
                        <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span
                                    class="fas fa-shopping-cart"></span>[0]</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <section class="item">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#"><img src="img/VN0A4BV6ZGH-1-500x500.jpg" alt="" id="image-container"></a>
                    <div class="nav">
                        <img onClick="change(this)" src="img/VN0A4BV6ZGH-DRAKE1-150x150.jpg" alt="">
                        <img onClick="change(this)" src="img/VN0A4BV6ZGH-DRAKE2-150x150.jpg" alt="">
                        <img onClick="change(this)" src="img/VN0A4BV6ZGH-DRAKE3-150x150.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3>Vans SK8-Hi Pride Rainbow</h3>
                    <i class="far fa-star checked"></i>
                    <i class="far fa-star checked"></i>
                    <i class="far fa-star checked"></i>
                    <i class="far fa-star checked"></i>
                    <i class="far fa-star checked"></i>
                    <p> 0 Review | Give your Reivew </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>SKU: VN0A4BV6ZGH</p>
                            <p>Material: Leather/Textile</p>
                            <p>Color: Black/Multi/True White Zalando</p>
                            <select name="size">
                                <option value="default">Choose Your Size</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                                <option value="">11</option>
                                <option value="">12</option>
                            </select>
                           <a><i class="fas fa-shopping-cart fa-3x"></i></a>
                        </div>
                        <div class="col-sm-6">
                            <h5>Price : $150</h5>
                            <p>Free Ship Nationwide, Have A Lot Of Sale Rating When Buy Online</p>
                        </div>
                    </div>
                    <h3 style="text-align: left;">See More</h3>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="./img/IMG_0675 copy-410x574.jpg" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="./img/IMG_0730 copy-410x574.jpg" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="./img/IMG_0731 copy-410x574.jpg" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Daxuo Store</h5>
                    <p>When you need!</p>
                    <p>Contact with us</p>
                </div>
                <div class="col-sm-3">
                    <h5>Menu</h5>
                    <p>Home</p>
                    <p>Brands</p>
                    <p>About</p>
                    <p>Contact</p>
                </div>
                <div class="col-sm-3">
                    <h5>Supporter</h5>
                    <p>Online support</p>
                    <p>Contract</p>
                    <p>Recruitment</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="col-sm-3">
                    <h5>Have A Questions?</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Đại Học Sư Phạm Kĩ Thuật TP.HCM</p>
                    <p><i class="fas fa-sms"></i> 0906821098</p>
                    <p><i class="far fa-envelope"></i>phamphuocdangtoan@gmail.com</p>
                </div>

            </div>
        </div>
    </section>
    <script type="text/javascript">
        var container = document.getElementById("image-container");
        change = (image) => {
            container.src = image.src;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn  .com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>